@import "colors";

.note-list {

  .note-list-title {
    color: $darkNavyBlue;
    margin-bottom: 20px;
  }
  
  .note-container {

    .note {
      border: 2px solid $lightBlueGrey;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 20px;
      
      .note-id {
        opacity: 0;
      }

      #edit-note-btn {
        background-color: $darkNavyBlue;
        color: $lightBeige;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
  
        &:hover {
          background-color: lighten($darkNavyBlue, 10%);
        }
  
        &:active {
          background-color: darken($darkNavyBlue, 10%);
        }
      }   
    
      textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid $lightBlueGrey;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
        resize: vertical; 
      }

      #edit-text {
        height: 300px;
      }
            
      #save-post-btn,
      #delete-post-btn {
        border: none;
        border-radius: 5px;
        color: $lightBeige;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 10px 20px;
        transition: all 0.2s ease-in-out;

        &#save-post-btn {
          background-color: $darkNavyBlue; 

          &:hover {
            background-color: lighten($darkNavyBlue, 10%);
          }
          
          &:active {
            background-color: darken($darkNavyBlue, 10%);
          }
        }

        &#delete-post-btn{
          background-color: $oliveGreen;
          &:hover {
            background-color: lighten($oliveGreen, 10%);
          }
          
          &:active {
            background-color: darken($oliveGreen, 10%);
          }
        }      
      }
    }
  }  
}